<body>
    <h1>Search Results</h1>


    <% info.forEach(object =>{ %>
        <div> 
            <%= object.symbol %>
        </div>
        <div>
            <%= object.companyName %>
        </div>
        <div>
            <%= object.sector %>
        </div>
        <div>
            <%= object.current_price %>
        </div>
        
    <% }) %>
</body> 