<button class="button header" disabled> <i class="fas fa-bars fa-1x"></i><%= title %> </button>
<nav> 
    <ul>
        <li>
            <a href="/search"><i class="fas fa-home fa-4x"></i></a>
        </li>
        <li>
            <a href="/watchlist"><i class="fas fa-search-dollar fa-5x"></i></a>
        </li>
        <li>
            <a href="/setting"><i class="fas fa-user-circle fa-5x"></i></a>
        </li>
        <li>
            <i class="fas fa-cog fa-5x"></i>
        </li>
    </ul>
</nav>
