<button class="button header" disabled> <i class="fas fa-bars fa-1x"></i><%= title %> </button>
<nav> 
    <ul>
        <li>
            <a href="/"><i class="fas fa-home fa-4x"></i></a>
        </li>
        <li>
            <a href="/search"><i class="fas fa-search-dollar fa-5x"></i></a>
        </li>
        <li>
            <a href="/pages/watch&result_Ex"><i class="fas fa-user-circle fa-5x"></i></a>
        </li>
        <li>
            <a href="/pages/setting"></a><i class="fas fa-cog fa-5x"></i></a>
        </li>
    </ul>
</nav>
