<title>Invest Savagely</title>
<script src="https://kit.fontawesome.com/fc85feb03c.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/styles.css" />
