<button class="button header herFoo" disabled> <i class="fas fa-bars fa-1x"></i> <%= title %> </button>
<div class="navigation"> 
    <a href="/search"><i class="fas fa-home fa-6x"></i></a>
    <a href="/watchlist"><i class="fas fa-search-dollar fa-6x"></i></a>
    <a href="/setting"><i class="fas fa-user-circle fa-6x"></i></a>
    <i class="fas fa-cog fa-6x"></i>
</div>
