<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../layouts/head') %>
    </head>
    <body>
        <header>
            <%- include('../layouts/header') %>
        </header>
        <main class="setting">
            <h3>Bios:</h3>
            <form class="importance" action="">
                <div>
                    <h2>Ben<h2>
                    <p></p>
                </div>
                <div>
                    <h2>Enoch</h2>
                    <p></p>
                </div>
                <div>
                    <h2>James</h2>
                    <p></p>
                </div>
                <div>
                    <h2>Reagan</h2>
                    <p></p>
                </div>
            </form>
        </main>
        <footer>
            <%- include('../layouts/footer') %>
        </footer>
    </body>
</html>
