<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../layouts/head') %>
    </head>
    <header>
        <%- include('../layouts/header') %>
    </header>
    <main>
        <button class="button">Search Stocks</button>
        <button class="button">Watchlist</button>
        <button class="button">Settings</button>
    </main>
    <footer>
        <%- include('../layouts/footer') %>
    </footer>
</html>
