<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../layouts/head') %>
    </head>
    <header>
        <%- include('../layouts/header') %>
    </header>
    <main>
        <button class="button"><a href="/search">Search Stocks</a></button>
        <button class="button"><a href="/watchlist">Watchlist</a></button>
        <button class="button"><a href="/setting">Settings</a></button>
    </main>
    <footer>
        <button class="button"><a href="/developers">About the Developers</a></button>
    </footer>
</html>
