<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../layouts/head') %>
    </head>
    <header>
        <%- include('../layouts/header') %>
    </header>
    <main id="sortable">
        <section class="ui-state-default">
            <div>
                <details>
                    <summary><h3>TICKER: Company Name</br>Current Price:$00.00</h3></summary>
                    <iframe src='https://wallmine.com/widgets/chart/NASDAQ:TSLA' async frameborder='0' allowtransparency='true' scrolling='no' style='width: 100%; height: 450px'></iframe>
                    <p>Some short discription about company || Score || CEO if that is something we can find || Industry</p>
                    <button>Add to Watchlist</button>
                </details>
            </div>
        </section>
        <section class="ui-state-default">
            <div>
                <details>
                    <summary><h3>BILI</br>Current Price:$00.00</h3></summary>
                    <iframe src='https://wallmine.com/widgets/chart/NASDAQ:BILI' async frameborder='0' allowtransparency='true' scrolling='no' style='width: 100%; height: 450px'></iframe>
                    <p>Some short discription about company || Score || CEO if that is something we can find || Industry</p>
                    <button>Add to Watchlist</button>
                </details>
            </div>
        </section>
        <section class="ui-state-default">
            <div>
                <details>
                    <summary><h3>CRON</br>Current Price:$00.00</h3></summary>
                    <iframe src='https://wallmine.com/widgets/chart/NASDAQ:CRON' async frameborder='0' allowtransparency='true' scrolling='no' style='width: 100%; height: 450px'></iframe>
                    <p>Some short discription about company || Score || CEO if that is something we can find || Industry</p>
                    <button>Add to Watchlist</button>
                </details>
            </div>
        </section>
        <section class="ui-state-default">
            <div>
                <details>
                    <summary><h3>HEXO</br>Current Price:$00.00</h3></summary>
                    <iframe src='https://wallmine.com/widgets/chart/NYSE:ACB' async frameborder='0' allowtransparency='true' scrolling='no' style='width: 100%; height: 650px'></iframe>
                    <p>Some short discription about company || Score || CEO if that is something we can find || Industry</p>
                    <button>Add to Watchlist</button>
                </details>
            </div>
        </section>
    </main>
    <footer>
        <%- include('../layouts/footer') %>
    </footer>
</html>