<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../layouts/head') %>
    </head>
    <body>
        <header>
            <%- include('../layouts/header') %>
        </header>
        <main class="criteria">
            <div class="ui-field-contain">
                <select name="select-custom-20" id="select-custom-20" data-native-menu="false" class="filterable-select">
                    <option value="">All Industries</option>
                    <option value="">IndustryA</option>
                    <option value="">IndustryB</option>
                    <option value="">IndustryC</option>
                    <option value="">IndustryD</option>
                    <option value="">IndustryE</option>
                    <option value="">IndustryF</option>
                </select>
            </div>
            <div>
                <label for="price">Current buying price of stock:</label></br>
                MAX<input type="number" value=10 name="price">MIN<input type="number" value=50 name="price">
            </div>
            <div>
                <label for="location">Search for comapies only in given US states</label></br>
                <input type="text" name="loaction">
            </div>
            <div>
                <label for="ticker">Search Company by Ticker Symbol</label></br>
                <input type="text" name="ticker" placeholder="Ticker">
            </div>
        </main>
        <footer>
            <%- include('../layouts/footer') %>
        </footer>
    </body>
</html>