<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../layouts/head') %>
    </head>
    <header>
        <%- include('../layouts/header') %>
    </header>
<body class="choose">
    <main class="criteria">
        <div class="radio">
            <!-- title="Only accepts Ticker Symbols (e.g., AAPL for Apple, Inc., MSFT for Microsoft Corp.)" -->
            <i class="fas fa-info-circle"><span class="useInfo">Only accepts Ticker Symbols (e.g., AAPL for Apple, Inc., MSFT for Microsoft Corp.)</span></i></br>
            <label for="tickerS">Ticker Symbol</label>
            <input type="radio" id="tickerS" name="search" checked="checked" transform: "scale(2)">
            <label for="parameters">Parameters</label>
            <input type="radio" id="params" name="search">

            <div class="searchParams">
                <form class="form" method="post" action="/sql_search">
                    <div>
                        <label for="price">Current buying price of stock:</label></br>
                        MIN<input type="number" value=5 name="price">MAX<input type="number" value=10 name="price">
                    </div>
                    <div>

                        
                        <div>
                            <button type="submit" value="Submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="searchByTicker">
                <form class="form" method="post" action="/searches">
                    <div>
                        <input type="text" name="symbol" placeholder="Ticker Symbol">
                    </div>
            
                    <div>
                        
                        
                        <button type="submit">Search</button>
                    </div>

                </form>
            </div>
    </main>
</body>
    <footer>
        <%- include('../layouts/footer') %>
    </footer>
</html>
