<!DOCTYPE html>
<html lang="en">


<head>
    <%- include('../layouts/head') %>
</head>

<body>
    <header>
        <%- include('../layouts/header') %>
    </header>
    <main class="criteria">
        <div class="radio">
            <!-- title="Only accepts Ticker Symbols (e.g., AAPL for Apple, Inc., MSFT for Microsoft Corp.)" -->
            <i class="fas fa-info-circle"><span>Only accepts Ticker Symbols (e.g., AAPL for Apple, Inc., MSFT for
                    Microsoft Corp.)</span></i></br>
            <label for="parameters">Parameters</label>
            <input type="radio" id="params" name="search">
            <label for="tickerS">Ticker Symbol</label>
            <input type="radio" id="tickerS" name="search" checked="checked">
            <div class="searchParams">
                <form class="form" method="post" action="/searches">
                    <div>
                        <select name="industry">
                            <option>All Industries</option>
                            <option value="IndustryA">IndustryA</option>
                            <option value="IndustryB">IndustryB</option>
                            <option value="IndustryC">IndustryC</option>
                            <option value="IndustryD">IndustryD</option>
                            <option value="IndustryE">IndustryE</option>
                            <option value="IndustryF">IndustryF</option>
                        </select>
                    </div>
                    <div>
                        <label for="price">Current buying price of stock:</label>
                        </br>
                        MAX<input type="number" value=10 name="price">MIN<input type="number" value=50 name="price">
                    </div>
                    <div>
<<<<<<< Updated upstream
                        <div>
                            <input name="company" placeholder="Company Name"></input>
                        </div>

=======
                        
>>>>>>> Stashed changes
                        <div>
                            <button type="submit" value="Submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="searchByTicker">

                <form class="form" method="post" action="/searches">
                    <div>
                        <input name="ticker" placeholder="Ticker Symbol"></input>
                    </div>
<<<<<<< Updated upstream

=======
                    <!-- <div>
                        <input name="company" placeholder="Company Name"></input>
                    </div> -->
>>>>>>> Stashed changes
                    <div>
                        <button type="submit">Search</button>
                    </div>
                </form>
            </div>
    </main>
    <footer>
        <%- include('../layouts/footer') %>
    </footer>
</body>

</html>