<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../layouts/head') %>
    </head>
    <header>
        <%- include('../layouts/header') %>
    </header>
    <main id="sortable">
        <section class="ui-state-default">
            <div>
                <details>
                    <summary>TICKER: Company Name</summary>
                    <h3>Current Price</h3>
                    <img src="https://via.placeholder.com/150" alt="">
                    <p>Some short discription about company || Score || CEO if that is something we can find || Industry</p>
                    <button>Add to Watchlist</button>
                </details>
            </div>
        </section>
        <!-- <section class="ui-state-default">
            <div>
                <h3>TICKER: Company Name</h3>
                <h3>Current Price</h3>
                <img src="https://via.placeholder.com/150" alt="">
                <p>Some short discription about company || Score || CEO if that is something we can find || Industry</p>
                <button>Add to Watchlist</button>
            </div>
        </section>
        <section class="ui-state-default">
            <div>
                <h3>TICKER: Company Name</h3>
                <h3>Current Price</h3>
                <img src="https://via.placeholder.com/150" alt="">
                <p>Some short discription about company || Score || CEO if that is something we can find || Industry</p>
                <button>Add to Watchlist</button>
            </div>
        </section>
        <section class="ui-state-default">
            <div>
                <h3>TICKER: Company Name</h3>
                <h3>Current Price</h3>
                <img src="https://via.placeholder.com/150" alt="">
                <p>Some short discription about company || Score || CEO if that is something we can find || Industry</p>
                <button>Add to Watchlist</button>
            </div>
        </section>
        <section class="ui-state-default">
            <div>
                <h3>TICKER: Company Name</h3>
                <h3>Current Price</h3>
                <img src="https://via.placeholder.com/150" alt="">
                <p>Some short discription about company || Score || CEO if that is something we can find || Industry</p>
                <button>Add to Watchlist</button>
            </div>
        </section>
        <section class="ui-state-default">
            <div>
                <h3>TICKER: Company Name</h3>
                <h3>Current Price</h3>
                <img src="https://via.placeholder.com/150" alt="">
                <p>Some short discription about company || Score || CEO if that is something we can find || Industry</p>
                <button>Add to Watchlist</button>
            </div>
        </section> -->
    </main>
    <footer>
        <%- include('../layouts/footer') %>
    </footer>
</html>