 body{
  /* background-color: rgb(170, 168, 168); */
}

 .button {
  /* background-color: rgba(33, 33, 243, 0.897);
  color: white;
  padding: 15px 32px;
  border-radius: 60px;
  font-size: 40px;
  line-height: 100px;
  margin: 4% 2%; 
  width: 100%;
  margin: 50px auto;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold; */
}

 .herFoo{
  /* width: 90%;
  margin-left: 5%; */
}

.header{
  /* margin-left: 5%;
  margin-top: 100px; */
}

main{
  /* margin: 260px auto;
  width: 80%; */
}


.setting, .criteria{
  /* font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: 450; */
  /* color: white;
  background-color: rgb(52, 52, 238); */
  /* line-height: 40px;
  border-radius: 60px;
  height: 40vh; */
}

.settingParams{
  /* margin-top: 60px; */
}

.settingParams > div{
  /* width: 90%;
  margin: auto; */
}

.settingParams > div > *{
  /* width: 75%;
  margin: 40px auto; */
}

h3{
  text-align: center;
}

.criteria{
  height: 700px;
}

.criteria > *{
  width: 90%;
  margin: 50px auto;
  /* margin-bottom: 100px; */
}

.criteria > div > input{
  height: 20px;
  font-size: 20px;
  width: 10%;
}
#industry{
  background-color: rgb(52, 52, 238);
  font-size: 40px;
  width: 70%;
  height: 75px;
}

main > section {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: 450;
  color: white;
  background-color: rgb(52, 52, 238);
  line-height: 40px;
  border-radius: 60px;
  margin-bottom: 150px;
  height: auto;
  padding-bottom: 30px;
}

main > section > div{
  width: 85%;
  margin: auto;
}

main > section > div > details > button{
  margin: 0 0 50px 60%;
  background-color: white;
  color: rgba(33, 33, 243, 0.897);
  border-radius: 60px;
  font-size: 25px;
  line-height: 28px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  width: 40%;
}

main > section > div > iframe{
  height: 300px;
  width: 100%;
  margin-left: 20%;
}

.radio{
  width: 65%;
  margin: auto;

}

.fa-info-circle{
  position: relative;
  top: 1vw;
  left: 60vw;
  color: rgba(255, 255, 255, 0.432);
}

a{
  text-decoration: none;
  /* color: white; */
}

.fa-info-circle:hover{
  cursor: help;
}

.navigation > .fas{
  /* padding: 10px; */
  margin-right: 7%;
  /* display: flex; */
  justify-content: space-evenly;


}

.navigation{
  padding: 30px;
  width: 20%;
  height: 100%;
  position: relative;
  bottom:100px;
  right: 90px;

}

.menu_block{
  border: 2px solid black;
  background-color: green;
}


.menu_block:hover{
  transition-duration: 3s;
  /* transform: rotate(10000turn); */
  color:rgba(33, 33, 243, 0.897);
  margin-left: 100%;
  /* left:100%; */
  width: 0;
}
.navigation > .fas{
  position: relative;
  /* bottom:100px; */
  /* right:100%; */
}

.clickNav{
  height: 200px;
}


/* MENU CSS ---------------------------*/
nav{
  /* margin-top: 100px;
  height: auto;
  border-radius: 0 60px 60px 0;
  width: 160px;
  background-color: rgba(33, 33, 243, 0.897);
  float: left;
  margin-left: -19%;
  overflow: hidden; */
}

.fas{
  margin-left: 20px;
  margin-bottom: 10vh;
  color: white;
}

.fa-bars{
  margin-bottom: 0;
  line-height: 100px;
  float: left;
}:hover{
  color: grey;
}

.header:hover{
  color: white;
}

.fa-home{
  margin-top: 5vh;
}

.fa-cog{
margin-bottom: 5vh;
}


/* IF WE DONT LIKE THE ARROWS -------------------------------
details > summary::-webkit-details-marker {
  display: none;
  
}

details > summary{
  background-color: blue;
  border-radius: 50px;
} ------------------------------------------------------*/



/* Look and effects of menu */


.fa-4x, .fa-5x{
  color: rgb(212, 205, 205);
  background-color: rgb(78, 78, 80);
  border-radius: 60%;
  padding: 40px;
}


.fa-4x:hover, .fa-5x:hover{
  color: rgb(78, 78, 80);
  background-color: rgb(212, 205, 205);
  animation: icon-glow 3s infinite;
}

.fa-4x:active, .fa-5x:hover:active{
  border: 3px solid black;
  animation: icon-glow infinite;
}

@keyframes icon-glow {
  50% {box-shadow: inset 0 0 30px blue;}
}

.useInfo{
  visibility: hidden;
}


watchlist{
  line-height: 0;
}

.paramResults{
  background-color: white;
}


