body{
  background-color: rgb(170, 168, 168);
}

.button {
  background-color: rgba(33, 33, 243, 0.897);
  color: white;
  padding: 15px 32px;
  border-radius: 60px;
  font-size: 40px;
  line-height: 100px;
  margin: 4% 2%; 
  width: 100%;
  margin: 50px auto;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.herFoo{
  width: 90%;
  margin-left: 5%;
}

main{
  margin: 260px auto;
  width: 80%;
}

.setting, .criteria{
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: 450;
  color: white;
  background-color: rgb(52, 52, 238);
  line-height: 40px;
  border-radius: 60px;
}

.importance{
  margin-top: 60px;
}

.importance > div{
  width: 90%;
  margin: auto;
}

.importance > div > *{
  width: 75%;
  margin: 40px auto;
}

h3{
  text-align: center;
}

.criteria{
  height: 700px;
}

.criteria > *{
  width: 90%;
  margin: 50px auto;
  /* margin-bottom: 100px; */
}

.criteria > div > input{
  height: 20px;
  font-size: 20px;
  width: 10%;
}
#industry{
  background-color: rgb(52, 52, 238);
  font-size: 40px;
  width: 70%;
  height: 75px;
}

main > section {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: 450;
  color: white;
  background-color: rgb(52, 52, 238);
  line-height: 60px;
  border-radius: 60px;
  margin-bottom: 150px;
  height: auto;

}

main > section >div{
  width: 85%;
  margin: auto;
}

main > section > div > button{
  margin: 0 0 20px 60%;
  background-color: white;
  color: rgba(33, 33, 243, 0.897);
  border-radius: 60px;
  font-size: 25px;
  line-height: 28px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  width: 40%;
  
}

main > section > div > img{
  width: 60%;
  margin-left: 20%;
}
