body{
    background-color: rgb(170, 168, 168);
  }

.button {
    background-color: rgba(33, 33, 243, 0.897);
    color: white;
    padding: 15px 32px;
    border-radius: 60px;
    font-size: 40px;
    line-height: 100px;
    margin: 4% 2%; 
    width: 100%;
    margin: 50px auto;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
  }

  .navigation{
      height: auto;
      border-radius: 0 60px 60px 0;
      width: 160px;
      background-color: rgba(33, 33, 243, 0.897);
      margin-left: -1vw;
      overflow: hidden;
  }

  .fas{
      margin-left: 20px;
      margin-bottom: 10vh;
      color: white;
  }

  .fa-bars{
      margin-bottom: 0;
      line-height: 100px;
      float: left;
  }

  .fa-home{
      margin-top: 5vh;
  }

  .fa-cog{
    margin-bottom: 5vh;
  }