*{
    color: white;
}

body{
    background-color: rgb(170, 168, 168);
}

nav, .settings, .criteria{
    background-color: rgb(52, 52, 238);
}

button{
    background-color: rgba(33, 33, 243, 0.897);
}

nav{
    background-color: rgb(170, 168, 168);
}
